  /*

  will update this later

  */

html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  /*flex-flow: column nowrap;*/
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 301px;
  border: 3px solid #e2a7a7;
  border-radius: 8px;
  background-color: pink;
  background: linear-gradient(to bottom right, red, yellow);
}

.keypad {
  display: flex;
  padding: 3px;
  margin: 3px 3px 10px 3px;
}

.numpad {
  flex: 4;
}

.opera {
  flex: 1;
}

.numpad .button-group {
  display: flex;
  justify-content: space-between;
}

.opera .button-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-group button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 8px;
  margin: 2px;
  flex: 1;
  font-weight: 500;
  font-size: 22px;
}

.button-group .long-button {
  /*height: 150px;*/
}

.text {
  width: auto;
  height: 45px;
  font-weight: 550;
  font-size: 22px;
  border-radius: 8px;
  border: 2px solid black;
  padding: 8px;
  margin: 12px 8px 12px 8px;
}
